<div class="content">
  <div class="numbers-box">
    <span>{{ (calculationValues$ | async).firstDigit }}</span>
    <span>+</span>
    <span>{{ (calculationValues$ | async).secondDigit }}</span>
    <span>=</span>
    <span>
      <input
        type="number"
        placeholder="0"
        [(ngModel)]="inputValue"
        (ngModelChange)="getInputValue(inputValue)"
        [ngClass]="{ 'incorrect': !isCorrectValue}"
        tabindex="-1"
        autofocus
      >
      <p></p>
    </span>
  </div>
  <div class="solution-time">
    <app-solution-time
      [secondsPerSolution]="averageSolutionTime.average"
    ></app-solution-time>
  </div>
</div>
